aside{
    flex:1 1 25%;
    max-height: 600px;
    align-items: flex-start;
    background: #12365D;
    border: 3px solid #F8EDF5;
    padding: 10px 20px;

    .aside-title{
        color: #ED9B07;
        font-size: 16px;
        margin-bottom: 15px;
    }
    .aside-list{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding-left: 20px;
        .aside-list-item{
            color: #FADE9D;
            font-size: 13px;
        }
    }
}